{% extends 'base.html' %}

{% block content %}
    <table>
    <tr>
        <th>
            Date
        </th>
        <th>
            Day
        </th>
        <th>
            Min
        </th>
        <th>
            Max
        </th>
    </tr>
    {% for curr_day in data %}
        <tr>
            <td>
                {{ curr_day.date }}
            </td>
            <td>
                {{ curr_day.day_name }}
            </td>
            <td>
                {{ curr_day.min_temp }}
            </td>
            <td>
                {{ curr_day.max_temp }}
            </td>
        </tr>
    {% endfor%}
    </table>
{% endblock %}